@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato:ital,wght@0,400;0,700;1,400&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.wrapper {
	max-width: 100%;
}
.header {
	height: 56.3rem;
	max-width: 100%;
	background-color: #000;
	color: #fff;
	background-image: url(../img/pyramid.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 75%;
		// .header__top

		&__top {
			height: 12.5rem;
			display: flex;
			background-color: #000;
			justify-content: space-between;
			align-items: center;
			max-width: 1450px;
			box-sizing: border-box;
			margin: 0 auto;
			padding: 0 20px;

		}
		// hr{
		// 	width: 100%;
		// 	height: 3px;
		// 	background-color: #fff;
		// }
		// .header__body

		&__body {
			margin-top: 12.5rem;

		}

		// .header__title

		&__title {

			margin: 7.125rem 0 1.75rem 0;
		}
		&__link{
			flex: 0 1 auto;

		}
		&__button{
			&:hover{
			
				background-color: rgb(9, 20, 134);
				color: rgb(189, 235, 96);
			}

			border: none;
			font-family: Roboto;
			font-style: Thin;
			font-size: 22px;
			line-height: 26px;
			line-height: 100%;
			letter-spacing: 2px;
			color: rgba(255, 255, 255, .5);
			padding: 20px 50px;
			border-radius: 10px;
			background-color: #710707;
			box-shadow: 5px 5px 5px black;
		}

		// .header__subtitle

		&__subtitle {
			font-family: Roboto;
			font-style: Light;
			font-size: 28px;
			line-height: 33px;
			line-height: 100%;
			letter-spacing: 2px;
			margin-bottom: 76px;
		}
}
.content-wrapper {
	box-sizing: border-box;
	max-width: 90.625rem;
	padding: 0 1.25rem;
	margin: 0 auto;
}
.header-wrapper-1 {
	max-width: 100%;
	border-bottom: 3px solid #fff;
	background-color: #000;
	z-index: 2;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	.pop-up {
		display: none;
	}
	// padding: 0 20px;
	
}
.logo {
	flex: 0 1 auto;
	align-items:center;
	// justify-content: start;
		// .logo__img

		&__img {
		}

		// .logo__text

		&__text {
			a{
				color: #fff;
				text-decoration: none;
			}
			background-image: url(../img/logo.png);
			background-position: 0 0.3125rem;
			background-repeat: no-repeat;
			padding-left: 3.625rem;
			font-family: Forum;
			font-style: Regular;
			font-size: 1.75rem;
			line-height: 162%;
			letter-spacing: 0.3125rem;
		}
}

.hamb {
	display: none;
	// .hamb__field

	&__field {
	}
}
.bar {

}

.nav {
	flex: 0 1 50%;
	display: flex;
	justify-content: space-between;
	
		// .nav__link
		&__link {
			flex: 0 1 auto;
		}
		&__link a {
			font-family: Roboto;
			font-style: Thin;
			font-size: 1.375rem;
			line-height: 194%;
			letter-spacing: 2px;
			text-decoration: none;
			color: #fff;
			opacity: .5;
			
		}
}
.title {
	font-family: Forum;
	font-style: Regular;
	font-size: 80px;
	line-height: 90px;
	line-height: 102%;
	letter-spacing: 5px;
}

.header-wrapper {
	padding-top: 50px;
}



.cards {

	// .cards__title

	&__title {
		color: #9D8665;
		margin-top: 75px;
	}

	// .cards__items

	&__items {
		a{
			text-decoration: none;
			color: inherit;
		}
		display: grid;
		row-gap: 78px;
		column-gap: 40px;
		grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
	}
}

.card {

	// .card__line

	&__line {
		height: 3px;
		background-color: #710707;
		margin-bottom: 75px;
	}
}
.item {

	// .item__img

	&__img {
		position: relative;
		padding-bottom: 65%;
		margin-bottom: 25px;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	// .item__title

	&__title {
		font-family: Forum;
		font-style: Regular;
		font-size: 32px;
		line-height: 35px;
		line-height: 100%;
		letter-spacing: 5px;
	}

	// .item__line

	// &__line {
	// 	height: 2px;
	// 	width: 66.666%;
	// 	display: inline-block;
	// 	background-color: #710707;
	// 	margin: 9px 0 10px;
	// }

	// .item__subtitle

	&__subtitle {
		font-family: Roboto;
		font-style: Thin;
		font-size: 22px;
		line-height: 26px;
		line-height: 100%;
		margin-bottom: 10px;
		opacity: .5;
	}

	// .item__text

	&__text {
		font-family: Roboto;
		font-style: Thin;
		font-size: 18px;
		line-height: 21px;
		line-height: 100%;
		opacity: .5;
	}
}


.picture {
	background-color: #000;

	// .picture__content

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
		padding: 75px 0;
		
	}

	// .picture__body

	&__body {
		color: #fff;
		
	}

	// .picture__title

	&__title {
		display: inline-block;
		border-bottom: 3px solid #710707;
		padding-bottom: 25px;
	}

	// .picture__line



	// .picture__text

	&__text {
		display: inline-block;
		font-family: Roboto;
		font-style: Light;
		font-size: 22px;
		line-height: 149%;
		max-width: 90%;
		margin-top: 75px;
	}

	// .picture__img

	&__img {
		// max-width: 705px;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		position: relative;
		padding-bottom: 90%;
	}
}


.video {

	// .video__content

	&__content {
		padding: 30px 0 75px;
	}

	// .video__img

	&__img {
		position: relative;
		padding-bottom: 50%;
		margin-bottom: 40px;
		img,
		iframe{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .video__body

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));

	}

	// .video__title

	&__title {
	}

	// .video__text

	&__text {
		font-family: Roboto;
		font-style: Light;
		font-size: 22px;
		line-height: 149%;
	}
}


.tickets {
	background-color: #000;
	color: #fff;
	padding: 4.6875rem 0;
	// .tickets__content

	&__content {
	}

	// .tickets__title

	&__title {
		padding-bottom: 25px;
		margin-bottom: 75px;
		border-bottom: 3px solid #710707;
	}
}

.info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
	// .info__img

	&__img {
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		position: relative;
		padding-bottom: 80%;
	}

	// .info__body

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	// .info__item1

	&__item1 {
		justify-self: center;
	}

	// .info__subtitle

	&__subtitle {
		font-family: Roboto;
		font-style: Bold;
		font-size: 28px;
		line-height: 100%;
		margin-bottom: 50px;
	}

	// .info__list

	&__list {
		list-style: none;
		padding: 0;
	}

	// .info__link

	&__link {
		input{
			margin-right: 20px;
			transform: scale(1.8);
		}
		font-family: Roboto;
		font-style: Light;
		font-size: 1.375rem;
		line-height: 100%;		
		color: #fff;
		margin-bottom: 50px;
		
		// .info__link_1

		&_1 {
			// background: url(../img/icons/icon1.svg) no-repeat;
		}

		&_2 {
			// background: url(../img/icons/icon2.svg) no-repeat;
		}

		&_3 {
			// background: url(../img/icons/icon3.svg) no-repeat;		
		}
	}

	&__content{
		display: inline-block;
	}
	// .info__item2

	&__item2 {
		text-align: right;
		
	}

	// .info__subtitle2

	&__subtitle2 {
		font-family: Roboto;
		font-style: Bold;
		font-size: 28px;
		line-height: 100%;
		text-align: right;
	}

	// .info__text
	&__text_1{
		margin: 0.6875rem 0 0.875rem;
	}

	&__text_2{
		margin: 2.1875rem 0 0.875rem;
	}

	&__text {
		font-family: Roboto;
		font-style: Light;
		font-size: 1.375rem;
		line-height: 100%;
		text-align-last: left;
		// padding-left: 1.375rem;
	}

	// .info__icon

	&__icon {
		font-size: 1.375rem;
		width: 9.375rem;
		height: 3.125rem;
		border: 0.1875rem solid #fff;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.ticket{
			font-family: Roboto;
			font-style: Regular;
			line-height: 100%;
		}
		.val-1{

		}

	}

	&__total{
		font-family: Roboto;
		font-style: Bold;
		font-size: 1.75rem;
		line-height: 100%;
		letter-spacing: 0.103125rem;
		text-align: right;
		margin: 3.125rem 0 3.125rem;
	}
}

.buy {
	width: 10.9375rem;
	height: 3.125rem;
	background-color: #fff;
	font-family: Roboto;
	font-style: Light;
	font-size: 1.375rem;
	line-height: 100%;
	letter-spacing: 0.125rem;
	border-radius: 5px;
}



.popup {
	display: none;
}

@media(max-width: 1200px){
	.info__item2{
		justify-self: center;
	}
	.info__subtitle, .info__text, .info__total{
		text-align: center;
	}


}

@media(max-width: 992px){
	.header-wrapper {
		padding-top: 2.5rem;

	}
	footer {
		padding-bottom: 20px;
	}
	.footer__nav-link>a {
		text-decoration: line-through;
	  }



	.header__top {
		// background-color: #000;
		// box-sizing: border-box;
		// width: 100%;
		// justify-content: space-between;
		// border-bottom: 3px solid #fff;

	}
	hr {
		// position: fixed;
		// top: 12rem;
	}
	p{
		padding-left: 20px;
	}
	.title, .contacts__subtitle, .contacts__text{
		text-align: center;
	}
	.nav {
		display: none;
	}
	.hamb {
		display: flex;
		align-items: center;
	
		// .hamb__field

		&__field {
			padding: 0.625rem 1.25rem;
			cursor: pointer;
			.bar {
				display: block;
				width: 30px;
				height: 3px;
				margin: 6px auto;
				background-color: #fff;
				transition: 0.2s;
			}
		}
	}

	
	  .popup {
		position: fixed;
		top: 12.5rem;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 100;
		display: flex;
		transition: 0.3s;
	  }
	
	  .popup.open {
		left: 0;
	  }
	
	  .popup .nav {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		flex-basis: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		padding: 50px 0;
		overflow: auto;
	  }
	

	
	  .popup .nav .nav__link {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 20px 0;
		font-size: 20px;
		font-weight: bold;
		a {
			color: #302e2e;
		}
		
	  }
	
	  .popup .nav .nav__link:hover {
		background-color: rgba(4, 11, 102, 0.1);
	  }
	  .hamb__field.active .bar:nth-child(2) {
		opacity: 0;
	  }
	
	  .hamb__field.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	  }
	
	  .hamb__field.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	  }
	
	  body.noscroll {
		overflow: hidden;
	  }

}


.contacts {
	padding: 4.6875rem 0;
	// .contacts_text

	&__text {
		font-family: Roboto;
		font-style: Light;
		font-size: 1.375rem;
		line-height: 100%;
		margin-bottom: 1.25rem;
	}

	// .contacts__wrapper

	&__wrapper {
	}

	// .contacts__title

	&__title {
		padding-bottom: 1.5625rem;
		border-bottom: 0.1875rem solid #710707;
	}

	// .contacts__content

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(26.25rem, 1fr));
	}

	// .contacts__

	&__ {

		// .contacts___body

		&_body {
		}
	}

	// .contacts__subtitle

	&__subtitle {
		font-family: Roboto;
		font-style: Medium;
		font-size: 1.75rem;
		line-height: 100%;
		&_1{
			margin-top: 5.3125rem;
		}
		&_2{
			margin-bottom: 2.25rem;
		}
	}

	// .contacts__img

	&__img {
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		margin-top: 4.6875rem;
		position: relative;
		padding-bottom: 85%;
	}
}


.footer {
	padding-top: 1.5625rem;
	min-height: 12.5rem;
	background-color: #000;
	.footer-wrapper {
		display: flex;
		min-height: 9.375rem;
		justify-content: space-between;
	}
	// .footer__left

	&__left {
		width: 50%;
		display: flex;
		justify-content: space-between;

	}

	// .footer__col

	&__col {
		flex: 0 1 33.333%;

		// .footer__col_1

		&_1 {
			.nav__link {
				justify-self: start;
			}
		}

		// .footer__col_2

		&_2 {
		}
	}

	// .footer__nav-link
	&__nav-link {
		padding-right: 50px;
	}

	&__nav-link a {
		color: #fff;
		text-decoration: none;
		font-family: Roboto;
		// font-style: Thin;
		font-size: 1.375rem;
		line-height: 194%;
		vertical-align: top;
		letter-spacing: 0.125rem;
		opacity: .5;
	}

	// .footer__right

	&__right {
		width: 50%;
		display: flex;
		align-items: flex-end;
		justify-content: end;
		div {
			width: 3rem;
			margin-left: 1.5rem;
		}
	}
	.logo {
		flex: 0 1 33.333%;
		// .logo__text
	
		&__text {
		}
	}
}


@media(max-width: 992px) {
	.footer-wrapper, .footer__left, .footer__right, .footer__col {
		display: block;
		
		
	}
	.footer__right div {
		margin-bottom: .5rem;
	}
	.logo, .footer__col {
		margin: 0 auto;
	}
	.footer__nav-link {
		text-align: center;
	}
}